<!DOCTYPE html>
<html lang="en-US" dir="ltr">
	<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Jean Strohmier - I advocate universal usability and wear many hats"/>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav role="navigation">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About-Introduction</a></li>
				<li><a href="/cv">CV-Method</a></li>
	        		<li><a href="/works">Works-Results</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/anthology">Anthology-References</a></li>
	    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
	    		<ul>
	        		<li><a href="mailto:jean.strohmier@gmail.com">jean(dot)strohmier(at)gmail(dot)com</a></li>
	        		<li><a href="https://github.com/jstrohmier">github.com/jstrohmier</a></li>
			</ul>
		</footer>
	</body>
</html>
