<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home-Abstract</a></li>
		        	<li><a href="/about">About-Introduction</a></li>
                    <li><a href="/cv">CV-Method</a></li>
	        		<li><a href="/works">Works-Results</a></li>
	        		<li><a href="/blog">Blog-Discussion</a></li>
                    <li><a href="/anthology">Anthology-References</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jean.strohmier@gmail.com">jean(dot)strohmier(at)gmail(dot)com</a></li>
	        		<li><a href="https://github.com/jstrohmier">github.com/jstrohmier</a></li>
				</ul>
			</footer>
		</body>
	</html>
